[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = "<=2.7.10"
molecule = {extras = ["docker"],version = "==2.20.1"}

[packages]

[requires]
python_version = "3.6"
